<footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-image: url(/Style/Background.jpg); background-attachment: fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="ftco-footer-widget mb-3">
                    <h2><a class="navbar-brand" href="index.html"><img src="~/Style/assets/logo_interface/Logo_TDMU_2024_nguyen_ban.svg" style="width: 150px; filter: brightness(10);" /></a></h2>
                    <div class="ftco-footer-widget mb-3">
                        <h2 class="ftco-heading-2" style="font-size: 1.2rem;">THÔNG TIN</h2>
                        <div class="block-23 mb-2">
                            <ul>
                                <li><a href="#"><span class="icon icon-map-marker"></span><span class="text">Địa chỉ: Số 06, Trần Văn Ơn, Phường Phú Lợi, TP Hồ Chí Minh</span></a></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">Điện thoại: (0274) 3822518-3-114</span></a></li>
                                <li><a href="mailto:khaosat@tdmu.edu.vn"><span class="icon icon-envelope"></span><span class="text">Hộp thư: khaosat@tdmu.edu.vn</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ftco-footer-widget mb-3 ml-md-3">
                    <h2 class="ftco-heading-2" style="font-size: 1.2rem;">DANH MỤC</h2>
                    <ul class="list-unstyled row">
                        <li class="col-6 py-1 d-block"><a href="#">Trang chủ</a></li>
                        <li class="col-6 py-1 d-block"><a href="#">Khoa học công nghệ</a></li>
                        <li class="col-6 py-1 d-block"><a href="#">Sinh viên</a></li>
                        <li class="col-6 py-1 d-block"><a href="#">Lịch công tác</a></li>
                        <li class="col-6 py-1 d-block"><a href="#">Học vụ</a></li>
                        <li class="col-6 py-1 d-block"><a href="#">Tuyển sinh</a></li>
                        <li class="col-6 py-1 d-block"><a href="#">Đoàn-Hội</a></li>
                    </ul>
                </div>
            </div>
            @*<div class="col-md-3">
                <div class="ftco-footer-widget mb-3">
                    <h2 class="ftco-heading-2" style="font-size: 1.2rem;">THỐNG KÊ</h2>
                    <div class="block-23 mb-2">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Đang truy cập </span></li>
                        </ul>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p style="font-size: 0.9rem;">
                    Copyright &copy; 2025 Ban khảo thí, kiểm định và Đảm bảo chất lượng - Trường Đại Học Thủ Dầu Một
                </p>
            </div>
        </div>
    </div>
</footer>