@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="card">
        <div class="card-body">
            <div class="page-header no-gutters">
                <h2 class="text-uppercase">DANH SÁCH ĐƠN VỊ CỦA TRƯỜNG</h2>
                <hr />
                <fieldset class="border rounded-3 p-3">
                    <legend class="float-none w-auto px-3">Chức năng</legend>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Lọc theo năm học</label>
                            <select class="form-control select2" id="nam-hoc">
                                <option value="0">Tất cả</option>
                                @foreach (var items in ViewBag.Year)
                                {
                                    <option value="@items.Value">@items.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Lọc theo đơn vị chuyên môn</label>
                            <select class="form-control select2" id="chuyen-mon">
                                <option value="-1">Tất cả</option>
                                <option value="1">Đơn vị chuyên môn</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap gap-2 justify-content-start justify-content-md-end">
                            <button class="btn btn-info" id="btnAdd">
                                <i class="fas fa-plus mr-1"></i> Thêm mới
                            </button>
                            <button class="btn btn-success" id="exportExcel" data-toggle="modal" data-target="#importExcelModal">
                                <i class="fas fa-file-excel mr-1"></i> Import từ Excel
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <hr />
            <!-- Modal Import Excel -->
            <div class="modal fade" id="importExcelModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Import Khoa từ Excel</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="anticon anticon-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="importExcelForm" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="excelFile">Chọn file Excel</label>
                                    <input type="file" class="form-control" id="excelFile" name="excelFile" accept=".xlsx, .xls">
                                </div>
                                <button type="submit" class="btn btn-success btn-tone m-r-5">Upload</button>
                                <a href="~/DataExport/Mau/Mau_Upload_Khoa.xlsx" download>
                                    <button type="button" class="btn btn-info btn-tone m-r-5">Tải file mẫu</button>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal Import Excel -->
            <!--Modal-->
            <div class="modal fade" id="bd-example-modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h4"></h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="anticon anticon-close"></i>
                            </button>
                        </div>
                        <div class="modal-body" id="body-content">
                            <form id="form-validation">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">Mã Khoa/Viện/Trường *</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="ma_khoa" autocomplete="off" placeholder="Nhập mã Khoa/Viện ... *">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">Tên Khoa/Viện/Trường *</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="ten_khoa" id="ten_khoa" autocomplete="off" placeholder="Nhập tên Khoa/Viện ... *">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">Chọn năm *</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2" id="nam-hoc-val">
                                            @foreach (var items in ViewBag.Year)
                                            {
                                                <option value="@items.Value">@items.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">Là đơn vị chuyên môn</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2" id="chuyen-mon-val">
                                            <option value="0">Không</option>
                                            <option value="1">Có</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal-->
            <div class="m-t-25">
                <div class="table-responsive">
                    <table class="table table-bordered" id="khoaTable">
                        <!--data-->
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsAdmin{
    <script src="~/Areas/Admin/Scripts/ChucNangNguoiDung/Khoa_Vien_Truong.js"></script>
}
