@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-content">
    <div class="card">
        <div class="card-body">
            <div class="page-header no-gutters">
                <div class="col-lg-12">
                    <div class="mb-4" style="border: 1px solid #9caab9; padding: 15px; border-radius: 8px; background-color: #fcfcfc;">
                        <p style="font-weight:bold;font-size:25px;text-align:center;color:black">DANH SÁCH BỘ MÔN</p>
                        <div class="row items-push">
                            <div class="col-3">
                                <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Lọc theo năm học</label>
                                <select class="form-control select2" id="nam-hoc">
                                    <option value="0">Tất cả</option>
                                    @foreach (var items in ViewBag.Year)
                                    {
                                        <option value="@items.Value">@items.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="col-3">
                                <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Lọc theo Đơn vị</label>
                                <select class="form-control select2" id="don-vi">
                                    <!---->
                                </select>
                            </div>
                            <div class="col-3">
                                <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Lọc theo Khoa</label>
                                <select class="form-control select2" id="khoa">
                                    <!---->
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center">
                                <button type="button" class="btn btn-info" id="btnFilter">Lọc dữ liệu</button>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-right">
                                    <button class="btn btn-primary m-r-5" id="btnAdd">Thêm mới</button>
                                    <button class="btn btn-success m-r-5" data-toggle="modal" data-target="#importExcelModal">Import từ Excel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <!-- Modal Import Excel -->
            <div class="modal fade" id="importExcelModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Import bộ môn từ Excel</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="anticon anticon-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="importExcelForm" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="excelFile">Chọn file Excel</label>
                                    <input type="file" class="form-control" id="excelFile" name="excelFile" accept=".xlsx, .xls">
                                </div>
                                <button type="submit" class="btn btn-success btn-tone m-r-5">Upload</button>
                                <a href="~/DataExport/Mau/Mau_Upload_BoMon.xlsx" download>
                                    <button type="button" class="btn btn-info btn-tone m-r-5">Tải file mẫu</button>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal Import Excel -->
            <!--Modal-->
            <div class="modal fade" id="bd-example-modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h4"></h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="anticon anticon-close"></i>
                            </button>
                        </div>
                        <div class="modal-body" id="body-content">
                            <form id="form-validation">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">Mã Khoa/Viện *</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="ma_khoa" autocomplete="off" placeholder="Nhập mã Khoa/Viện ... *">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">Tên Khoa/Viện *</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="ten_khoa" id="ten_khoa" autocomplete="off" placeholder="Nhập tên Khoa/Viện ... *">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">Chọn năm *</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2" id="nam-hoc-val">
                                            @foreach (var items in ViewBag.Year)
                                            {
                                                <option value="@items.Value">@items.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal-->
            <div class="m-t-25">
                <div class="table-responsive">
                    <table class="table table-bordered" id="bo-mon-table">
                        <!--data-->
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsAdmin{
    <script src="~/Areas/Admin/Scripts/ChucNangNguoiDung/BoMon.js"></script>
}