@using CTDT.Helper
@{
    ViewBag.Title = "Trung tâm Đảm Bảo Chất Lượng - Trường Đại Học Thủ Dầu Một";
}
<section class="ftco-section">
    <div class="container" id="showdata">
        <!--Data-->
    </div>
</section>
@section scripts{
    @Scripts.Render("~/bundles/User/HeDaoTao")
}
