@{
    Layout = "~/Areas/CTDT/Views/Shared/_CTDTLayout.cshtml";
}
<style>
    .main-content {
        padding: 20px;
    }

    .survey-card {
        width: 45%;
        min-width: 370px;
        height: 510px;
        margin: 10px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .chart {
        max-height: 200px;
    }

    .card-body p {
        text-align: center;
        margin: 10px 0;
    }

    #survey-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .survey-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: #dee2e6;
        margin: 20px 0;
    }

    .modal-lg-custom {
        max-width: 90% !important;
        width: 90% !important;
    }
</style>

<div class="main-content">
    <div class="card">
        <div class="page-header no-gutters">
            <h2 class="text-uppercase">Thống kê tỷ lệ tham gia khảo sát</h2>
            <hr />
            <fieldset class="border rounded-3 p-3">
                <legend class="float-none w-auto px-3">Chức năng</legend>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Chọn hệ</label>
                        <select class="form-control select2" id="hedaotao">
                            @foreach (var item in ViewBag.HeDaoTao)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Chọn năm học</label>
                        <select class="form-control select2" id="year">
                            @foreach (var item in ViewBag.Year)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Chọn phiếu khảo sát</label>
                        <select class="form-control select2" id="surveyid">
                            <option value="">Chọn hệ đào tào và năm để thống kê</option>
                        </select>
                    </div>
                </div>

                <hr />
                <div class="row mb-3" id="load-option">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Chọn chương trình đào tạo</label>
                        <select class="form-control select2" id="ctdt-check">
                            <!--data-->
                        </select>
                    </div>
                </div>
                <hr />
                <div class="row mb-3">
                    <div class="col-md-6 d-flex align-items-center">
                        <button type="button" class="btn btn-info" id="fildata">Lọc dữ liệu</button>
                    </div>
                </div>
            </fieldset>
        </div>
        <!--Modal-->
        <div class="modal fade bd-example-modal-xl">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h4"><!----></h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="anticon anticon-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <!-- Filter rows per page -->
                                <div>
                                    <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Lọc trạng thái</label>
                                    <select class="form-control select2" id="trang-thai">
                                        <option value="-1">Tất cả</option>
                                        <option value="1">Đã khảo sát</option>
                                        <option value="0">Chưa khảo sát</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Tìm theo từ khóa</label>
                                    <input type="text" class="form-control" name="keywordSearch" id="searchInput" placeholder="Nhập từ khóa muốn tìm kiếm ...">
                                </div>
                                <div>
                                    <button class="btn btn-success m-r-5" id="export">Xuất file Excel</button>
                                </div>
                            </div>
                            <table id="datatable" class="table table-bordered">

                                <!---->
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end" id="paginationControls">
                                    <!-- Phân trang -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modal-->
        <div id="loadingSpinner" style="display:none" class="loader"></div>
        <div class="col-lg-14">
            <hr />
            <div id="survey-list">
                <!-- Surveys will be appended here -->
                <div class="alert alert-primary">
                    CHỌN CHỨC NĂNG ĐỂ TIẾP TỤC
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsCTDT{
    <script src="~/Areas/CTDT/Scripts/GiamSatTyLeThamGiaKhaoSat.js"></script>
}
