<style>
    .side-nav-menu .nav-item .title {
        word-wrap: break-word;
        white-space: normal;
    }
</style>

<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <!-- Trang chủ menu -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="/trang-chu">
                    <span class="icon-holder">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="title">Trang chủ</span>
                </a>
            </li>
            <!-- Kết quả khảo sát và thống kê menu -->
            <li class="nav-item dropdown" style="display:none" data-ma="CTDT_ThongKeBieuDo">
                <a class="dropdown-toggle" href="/ctdt/giam-sat-ket-qua-khao-sat">
                    <span class="icon-holder">
                        <i class="fas fa-chart-bar"></i>
                    </span>
                    <span class="title">Giám sát kết quả khảo sát</span>
                </a>
            </li>
            <!-- Đối tượng khảo sát và thống kê menu -->
            <li class="nav-item dropdown" style="display:none" data-ma="CTDT_GiamSatTyLeThamGiaKhaoSat">
                <a class="dropdown-toggle" href="/ctdt/giam-sat-ty-le-tham-gia-khao-sat">
                    <span class="icon-holder">
                        <i class="fas fa-users"></i>
                    </span>
                    <span class="title">Giám sát tỷ lệ tham gia khảo sát</span>
                </a>
            </li>
            <!-- Kết quả khảo sát và thống kê menu -->
            <li class="nav-item dropdown" style="display:none" data-ma="CTDT_ThongKeKetQuaKhaoSat">
                <a class="dropdown-toggle" href="/ctdt/ket-qua-khao-sat">
                    <span class="icon-holder">
                        <i class="fas fa-chart-bar"></i>
                    </span>
                    <span class="title">Thống kê kết quả khảo sát</span>
                </a>

            </li>
            <!--báo cáo tổng hợp kết quả khảo sát menu -->
            <li class="nav-item dropdown" style="display:none" data-ma="CTDT_BaoCaoTongHopKetQuaKhaoSat">
                <a class="dropdown-toggle" href="/ctdt/bao-cao-tong-hop-ket-qua-khao-sat">
                    <span class="icon-holder">
                        <i class="fas fa-file-alt"></i>
                    </span>
                    <span class="title">Báo cáo tổng hợp kết quả khảo sát</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0)" onclick="logout()">
                    <span class="icon-holder">
                        <i class="anticon anticon-logout"></i>
                    </span>
                    <span class="title">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>
</div>
